<template>
  <div>
    <p>{{ FirstName }}{{ lastName }}</p>
    <button @click="ChangeName">Change Name</button>
  </div>
</template>

<script> 
export default {
    data()  {
        return {
            firsName: 'Tony',
            lastName: 'Stack'
            
        }
    },
    computed: {
        FullName: {
            get(){
               return this.firsName + " " + this.lastName
                },
                set(value) {
                    const names = value.split('')
                    this.firsName = names[0] 
                    this.lastName = names[1]
                }
            } 
        },
        methods: {
            ChangeName() {
                this.fullName ='Iron Man'
                
            }
        },
            
    }
</script>
